/* Unset default <ul> styles */
ul.menu[id^="disclosure-menu"],
[id^="disclosure-menu"] ul.menu__submenu {
  list-style: none;
  margin: 0;
}

[id^="disclosure-menu"] .menu__submenu-toggle {
  padding: 0.3em;
  height: 2em;
  cursor: pointer;
  /* Unset default <button> styles */
  background: none;
  border: none;
}
[id^="disclosure-menu"] .menu__submenu-toggle svg {
  transition: transform 0.125s;
}
@media (prefers-reduced-motion) {
  [id^="disclosure-menu"] .menu__submenu-toggle svg {
    transition: transform 0s;
  }
}
[id^="disclosure-menu"] .menu__submenu-toggle[aria-expanded="true"] svg {
  transform: rotate(180deg);
}

[id^="disclosure-menu"] .menu__item-link,
[id^="disclosure-menu"] .menu__submenu-item-link {
  padding-block: 0.1875em;
}

/* Link styling */
[id^="disclosure-menu"] .menu__item-container > a {
  text-decoration: none;
}

[id^="disclosure-menu"] .menu__item-container > a:hover {
  text-decoration: underline;
}
