ul.menu[id^="disclosure-menu"].vertical {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

[id^="disclosure-menu"].vertical .menu__item-container {
  display: flex;
  gap: 2em;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.5em;
}

[id^="disclosure-menu"].vertical .menu__submenu--disclosure {
  padding-block: 0.5em;
  padding-inline-start: 1em;
  border-inline-start: 1px solid;
}
